@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.mmm{
    overflow-y: hidden;
}

.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: "Roboto Slab", serif;
    overflow-x: hidden;
}

.ProfileHeader {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}

.accountImg {
    background-color: #22d5d5;
    border-radius: 5px;
    height: 2cm;
    width: 2cm;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left1 {
    display: flex;
    margin-top: 1cm;
    flex-direction: column;
}

.left2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.left4 {
    font-size: 0.8rem;
}

.left5 {
    display: flex;
    flex-direction: column;

}

.initial {
    background-color: blue;
    color: white;
}

.left6 {
    display: flex;
    margin-top: 0.5cm;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid blue;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
}

.left7 {
    margin-left: 10px;
}

.left9 {
    margin-left: 10px;
}

.left10 {
    display: flex;
    margin-top: 0.5cm;
    border-radius: 10px;
    padding: 10px;
    background-color: orange;
    border: 2px solid orange;
    color: white;
    cursor: pointer;
    width: 75%;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
    font-family: "Roboto Slab", serif;

    &:hover {
        background-color: #764f05;
        border: 2px solid #764f05;
    }
}

.left11 {
    margin-left: 10px;
}

.material-symbols-outlined {
    color: black;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    margin-left: 25px;
}

.hSave {
    display: flex;
    border-bottom: 2px solid black;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    gap: 3cm;
}

.save {
    background-color: orange;
    border: 2px solid orange;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: white;
    display: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
    float: inline-end;

    &:hover {
        background-color: #764f05;
        border: 2px solid #764f05;
    }
}

.right2 {
    padding: 25px;
}

.right2foredit {
    padding: 25px;
    display: none;
}

.right3 {
    margin-top: 20px;
    display: flex;
}

.right11 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.right13 {
    margin-top: 8px;
    resize: none;
    border-radius: 5px;
    height: 4cm;
    outline: none;
    padding: 20px;
    font-size: 1.3rem;
    border: 2px solid black;
}

.bottom {
    margin-top: 3cm;
    text-align: center;
}

.back {
    color: white;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid orange;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;

    &:hover {
        background-color: #764f05;
        border: 2px solid #764f05;
    }
}

.inputt {
    height: 1cm;
    width: 80%;
    border-radius: 5px;
    padding: 2px;
    padding-left: 0.4cm;
    border: 2px solid black;
    margin-top: 6px;
    outline: 0;
    background-color: transparent;
    color: black;
    font-family: 'Chakra Petch';
    font-size: 1.3rem;
}

/* -----------------------Responsiveness Property--------------------------------- */

@media (max-width: 700px) {
    .ProfileHeader {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 93%;
        border-radius: 0;
    }

    .left2 {
        margin-left: 10px;
    }

    .right {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }
}